
<!-- Header -->
<div class="text-center">
  <h3 class="text-primary fw-normal mt-5">Tuoteryhmä</h3>
</div>

<!-- Gategories -->
<div class="container mt-2 mb-5">
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <!-- Product category -->
    <div class="col">
      <div class="card mt-5 border border-primary rounded-0">
        <img src="https://res.cloudinary.com/dimaaqsih/image/upload/v1670612417/FeatherAndBeads/IMG_0838_xzhnc5.jpg"
             class="d-block user-select-none img-thumbnail" routerLink="/rannekorut">
        <div class="card-img-overlay">
          <h5 class="card-title text-light text-center">Rannekorut</h5>
        </div>
      </div>
      <a routerLink="/rannekorut" class="btn btn-primary rounded-0 w-100 mt-3">
        Katso lisää
      </a>
    </div>


    <div class="col">
      <div class="card mt-5 border border-primary rounded-0">
        <img src="https://res.cloudinary.com/dimaaqsih/image/upload/v1670612417/FeatherAndBeads/IMG_0838_xzhnc5.jpg"
             class="d-block user-select-none img-thumbnail">
        <div class="card-img-overlay">
          <h5 class="card-title text-light text-center">Korvakorut</h5>
        </div>
      </div>
      <a routerLink="/rannekorut" class="btn btn-primary rounded-0 w-100 mt-3">
        Katso lisää
      </a>
    </div>


    <div class="col">
      <div class="card mt-5 border border-primary rounded-0">
        <img src="https://res.cloudinary.com/dimaaqsih/image/upload/v1670612411/FeatherAndBeads/IMG_0836_zclwoh.jpg"
             class="d-block user-select-none img-thumbnail">
        <div class="card-img-overlay">
          <h5 class="card-title text-light text-center">Kaulakorut</h5>
        </div>
      </div>
      <a routerLink="/rannekorut" class="btn btn-primary rounded-0 w-100 mt-3">
        Katso lisää
      </a>
    </div>


    <div class="col">
      <div class="card mt-5 border border-primary rounded-0">
        <img src="https://res.cloudinary.com/dimaaqsih/image/upload/v1670612411/FeatherAndBeads/IMG_0836_zclwoh.jpg"
             class="d-block user-select-none img-thumbnail">
        <div class="card-img-overlay">
          <h5 class="card-title text-light text-center">Avaimenperät</h5>
        </div>
      </div>
      <a routerLink="/rannekorut" class="btn btn-primary rounded-0 w-100 mt-3">
        Katso lisää
      </a>
    </div>
  </div>
</div>




