<!-- Gategories -->
<div class="container mt-5 mb-5"  style="min-height: 50vh;">

  <!-- Uutuudet -->
  <div class="card border-0 mt-5 mb-3 w-100">
    <div class="row g-0">
      <div class="col-md-8">
        <img src="https://res.cloudinary.com/dimaaqsih/image/upload/v1670693586/FeatherAndBeads/IMG_0873_x1majo.jpg"
             class="img-fluid" alt="...">
      </div>
      <div class="col-md-4">
        <div class="card-body">
          <a routerLink="/rannekorut" class="btn btn-outline-primary border-0 rounded-0">
            Katso uutuuksia tästä
            <i class="fa fa-chevron-circle-right fa-lg" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-2 g-4  mt-5">
    <!--Rannekorut-->
    <div class="col">
      <h4 class="text-primary">Rannekorut</h4>
      <div class="card mt-3 border-0">
        <img src="https://res.cloudinary.com/dimaaqsih/image/upload/v1670671252/FeatherAndBeads/IMG_0839_zlntl4.jpg"
             class="d-block">
      </div>
      <div class="d-flex justify-content-end">
        <a routerLink="/rannekorut" class="btn btn-outline-primary border-0 rounded-0 mt-3">
          Katso rannekoruja
          <i class="fa fa-chevron-circle-right fa-lg" aria-hidden="true"></i>
        </a>
      </div>
    </div>
    <!--Kaulakorut-->
    <div class="col">
      <h4 class="text-primary">Kaulakorut</h4>
      <div class="card mt-3 border-0">
        <img src="https://res.cloudinary.com/dimaaqsih/image/upload/v1670671261/FeatherAndBeads/IMG_0845_j7kkd4.jpg"
             class="d-block">
      </div>
      <div class="d-flex justify-content-end">
        <a routerLink="/rannekorut" class="btn btn-outline-primary border-0 rounded-0 mt-3">
          Katso kaulakoruja
          <i class="fa fa-chevron-circle-right fa-lg" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-2 g-4 mt-5">
    <!-- Korvakorut -->
    <div class="col">
      <h4 class="text-primary">Korvakorut</h4>
      <div class="card mt-3 border-0">
        <img src="https://res.cloudinary.com/dimaaqsih/image/upload/v1670671256/FeatherAndBeads/IMG_E0863_rv39tz.jpg"
             class="d-block">
      </div>
      <div class="d-flex justify-content-end">
        <a routerLink="/rannekorut" class="btn btn-outline-primary border-0 rounded-0 mt-3">
          Katso korvakoruja
          <i class="fa fa-chevron-circle-right fa-lg" aria-hidden="true"></i>
        </a>
      </div>
    </div>
    <!--Avaimenperät-->
    <div class="col">
      <h4 class="text-primary">Avaimenperät</h4>
      <div class="card mt-3 border-0">
        <img src="https://res.cloudinary.com/dimaaqsih/image/upload/v1670671260/FeatherAndBeads/IMG_0846_ibh7hh.jpg"
             class="d-block">
      </div>
      <div class="d-flex justify-content-end">
        <a routerLink="/rannekorut" class="btn btn-outline-primary border-0 rounded-0 mt-3">
          Katso avaimenperiä
          <i class="fa fa-chevron-circle-right fa-lg" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
</div>



