.card {
  cursor: pointer;
}

.d-block {
  opacity: 1;
  display: block;
  transition: .5s ease;
  visibility: visible;
}

  .d-block:hover {
    opacity: 0.7;
  }

.img-fluid {
  opacity: 1;
  display: block;
  transition: .5s ease;
  visibility: visible;
}

  .img-fluid:hover {
    opacity: 0.7;
  }

.h4 {
  cursor: pointer;
}
