<!-- Footer -->
<footer class="footer mt-auto py-3 bg-primary">
  <div class="container">

    <div class="row row-cols-1 row-cols-md-2 g-4 mt-5">
      <div class="col">
        <h6 class="text-muted">Tietoa meistä</h6>
        <ul class="text-muted" type="square">
          <li>Maksutavat</li>
          <li>Toimitus ja palautus</li>
          <li>Yhteydenottolomake</li>
          <li>Tietosuoja- ja rekisteriseloste</li>
        </ul>
        <p class="text-muted">
          FEATHER&BEADS on suomalainen
          verkkokauppa, joka tarjoaa
          ainutlaatuiset design-korut
          luonnonmateriaaleista.
          Jokainen koru on suunniteltu
          ja valmistettu
          käsityönä rakkaudella.
        </p>
      </div>

      <div class="col">
        <h6 class="text-muted">Asiakaspalvelu</h6>
        <p class="text-muted">myynti@featherandbeads.com</p>
        <ul class="text-muted" type="square">
          <li>Korukauppaa vuodesta 2018</li>
          <li>Luotettavaa ja asiantunteva palvelu</li>
          <li>Nopeat toimitukset</li>
          <li>Turvalliset maksutavat</li>
          <li>14 päivän vaihto- ja palautusoikeus</li>
        </ul>
      </div>
    </div>

    <br />
    <br />
    <!-- Section: Social media -->
    <div class="list-inline icons animate text-center">

      <!-- Facebook -->
      <a href="https://fi-fi.facebook.com/" target="_blank"
         class="list-inline-item text-muted">
        <i class="fa fa-facebook"></i>
      </a>

      <!-- Twitter -->
      <a href="https://twitter.com/?lang=fi" target="_blank"
         class="list-inline-item text-muted">
        <i class="fa fa-twitter"></i>
      </a>

      <!-- Linkedin -->
      <a href="https://www.linkedin.com/" target="_blank"
         class="list-inline-item text-muted">
        <i class="fa fa-linkedin"></i>
      </a>

      <!-- Instagram -->
      <a href="https://www.instagram.com/" target="_blank"
         class="list-inline-item text-muted">
        <i class="fa fa-instagram"></i>
      </a>
    </div>

    <!-- Section: Copyright -->
    <div class="text-muted text-center">
      <p>© 2022 Copyright. All rights reserved.</p>
    </div>
  </div>
</footer>

