
<div class="container mt-3 mb-5" style="min-height: 50vh;">

  <!-- Alert msg -->
  <div class="alert alert-dismissible alert-danger text-center rounded-0" *ngIf="alert">
    <i class="fa fa-exclamation-triangle" style="margin-right: 8px;" aria-hidden="true"></i>
    <strong>{{alertMsg}}</strong>
  </div>


  <div class="row row-cols-1 row-cols-md-2 g-4 mt-3 mb-2" *ngIf="product">

    <!-- Product Images -->
    <div class="col-sm-12 col-md-12 col-lg-6">
      <div class="card rounded-0" style="border-color: #f6f6f6">
        <gallery *ngIf="productPhotos.length > 0" [items]="productPhotos"
                 [thumbs]=false></gallery>
      </div>
    </div>

    <!-- Product Description -->
    <div class="col-sm-12 col-md-12 col-lg-6">
      <div class="card h-100 border-0">
        <div class="card-header bg-transparent border-0 text-center">
          <h4 class="card-title text-primary">{{ product.name }}</h4>
        </div>
        <div class="card-body">

          <p class="card-text fs-5 lh-lg">
            {{ product.shortDescription }}
          </p>
        </div>
        <div class="card-footer border-0" style="background-color: #ffffff;">
          <h4 class="text-primary text-center" style="margin-bottom:20px;">
            {{ product.priceWithTax | currency:'EUR':'symbol':'1.2-2':'fi' }}
          </h4>

          <p class="text-primary text-center">Saatavilla: {{ product.quantity }} kpl</p>

          <!-- Alert msg -->
          <div class="alert alert-success rounded-0 text-center"
               role="alert"
               *ngIf="countProductInCart(product) > 0">
            <i class="fa fa-check" style="margin-right: 3px;" aria-hidden="true"></i>
            Lisätty ostoskoriin {{countProductInCart(product)}} kpl
          </div>

          <!-- Button -->
          <button class="btn btn-primary rounded-0 w-100" style="height: 60px;"
                  (click)="addToCart(product)">
            <i class="fa fa-shopping-bag" style="margin-right: 8px;"
               aria-hidden="true"></i>
            Lisää ostoskoriin
          </button>

        </div>
      </div>

      
    </div>
  </div>



  <div class="row row-cols-1 row-cols-md-1 " *ngIf="product">

    <div class="col-sm-12 col-md-12 col-lg-6"></div>

      <div class="col-sm-12 col-md-12 col-lg-6">
        
          <p class="text-primary mt-4" style="margin-left: 20px;">
            <i class="fa fa-globe text-primary"
               style="margin-right: 5px;" aria-hidden="true"></i>
            Valmistettu käsityönä Suomessa
          </p>
        
          <p class="text-primary mt-4" style="margin-left: 20px;">
            <i class="fa fa-truck text-primary" 
               style="margin-right: 5px;" aria-hidden="true"></i>
            Nopeat toimitukset
          </p>
        
          <p class="text-primary mt-4" style="margin-left: 20px;">
            <i class="fa fa-undo text-primary"
               style="margin-right: 5px;" aria-hidden="true"></i>
            14 päivän palautusoikeus
          </p>
        
      </div>
  </div>

  <hr class="text-primary mt-5" />

    <!-- Long Description -->
    <div class="row row-cols-1 row-cols-md-1 g-4" *ngIf="product">

      <div class="col-sm-12 col-md-12 ">
        <div class="card h-100 border-0">
          <div class="card-body">
            <p class="text-primary lh-lg">{{ product.longDescription }}</p>
          </div>

        </div>
      </div>
    </div>
  </div>
