
<div class="container mt-3 mb-5" style="min-height: 50vh;">

  <h3 class="text-primary mt-5">Viimeiset tilauksesi</h3>

  <div class="row row-cols-1 row-cols-md-1 g-4">
    <div class="col">
      <div class="card border-0 mt-5">
        <div class="card-header  bg-transparent text-primary h4">
          Tilausnumero: DEC151222
        </div>
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <div class="text-primary">
              <h5>Tilauspvm</h5>
              <p>15.12.2022</p>
            </div>

            <div class="text-primary">
              <h5>Maksu</h5>
              <p>42,50</p>
            </div>

            <div class="text-primary">
              <h5>Toimitus</h5>
              <p>Toimitettu</p>
            </div>
          </div>

          <div class="row row-cols-1 row-cols-3 g-4">
            <div class="col">
              <div class="card mt-4 border-0">

                <img src="https://res.cloudinary.com/dimaaqsih/image/upload/v1672311267/dgeep9e1jeyslp1e3fzd.jpg">

              </div>

              <div class="d-flex justify-content-center" style="margin-top: 25px;">
                <h6 class="text-primary text-semibold">
                  1 x
                </h6>
              </div>

              <div class="d-flex justify-content-center">
                <h6 class="text-primary text-semibold">
                  Kristalliyö
                </h6>
              </div>

              <div class="d-flex justify-content-center">
                <p>36,90</p>
              </div>
            </div>

            <div class="col">
              <div class="card mt-4 border-0">

                <img src="https://res.cloudinary.com/dimaaqsih/image/upload/v1672311267/dgeep9e1jeyslp1e3fzd.jpg">

              </div>

              <div class="d-flex justify-content-center" style="margin-top: 25px;">
                <h6 class="text-primary text-semibold">
                  1 x 
                </h6>
              </div>

              <div class="d-flex justify-content-center">
                <h6 class="text-primary text-semibold">
                  Kristalliyö
                </h6>
              </div>

              <div class="d-flex justify-content-center">
                <p>36,90</p>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>



    <div class="col">
      <div class="card border-0 mt-5">
        <div class="card-header  bg-transparent text-primary h4">
          Tilausnumero: JAN100122
        </div>
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <div class="text-primary">
              <h5>Tilauspvm</h5>
              <p>15.12.2022</p>
            </div>

            <div class="text-primary">
              <h5>Kokonaissumma</h5>
              <p>42,50</p>
            </div>

            <div class="text-primary">
              <h5>Toimitus</h5>
              <p>Toimitettu</p>
            </div>
          </div>

          <div class="row row-cols-1 row-cols-3 g-4">
            <div class="col">
              <div class="card mt-4 border-0">

                <img src="https://res.cloudinary.com/dimaaqsih/image/upload/v1672311267/dgeep9e1jeyslp1e3fzd.jpg">

              </div>

              <div class="d-flex justify-content-center" style="margin-top: 25px;">
                <h6 class="text-primary text-semibold">
                  1 x
                </h6>
              </div>

              <div class="d-flex justify-content-center">
                <h6 class="text-primary text-semibold">
                  Kristalliyö
                </h6>
              </div>

              <div class="d-flex justify-content-center">
                <p>36,90</p>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>


  </div>
</div>
