
<div class="container mt-5 mb-5" style="min-height: 50vh;">
  <div *ngIf="!(accountService.currentUser$ | async)">

    <!-- Alert message -->
    <div *ngIf="showAlert" class="toast show rounded-0 text-bg-danger" role="alert"
         style="position: absolute; top:100px;"
         aria-live="assertive" aria-atomic="true">
      <div class="d-flex justify-content-center">
        <button type="button" class="btn-close btn-close-white rounded-0"
                data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        {{ alertMsg }}
      </div>
    </div>

    <!-- Login Form -->
    <div class="d-flex justify-content-center mt-4">
      <div class="card border-0 rounded-0 mb-3 mt-4" style="width: 500px;">
        <div class="text-center mt-4">
          <div class="card-body">
            <!-- Header -->
            <h1 class="card-title text-primary h3 fw-normal">Kirjaudu sisään</h1>
            <hr class="mb-5 mt-4" />
            <form #loginForm="ngForm" autocomplete="off">
              <!-- Email -->
              <div class="mt-1">
                <input type="email" class="form-control"
                       #email="ngModel" [(ngModel)]="model.email"
                       name="email" placeholder="Sähköpostiosoite" required
                       pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?" />
                <p *ngIf="email.errors && email.touched && email.dirty"
                   class="text-start text-danger">
                  Sähköpostiosoite on virheellinen.
                </p>
              </div>
              <!-- Password -->
              <div class="col-md-12 mt-4">
                <input type="password" class="form-control"
                       #password="ngModel" placeholder="Salasana"
                       name="password" [(ngModel)]="model.password" required />
                <p *ngIf="password.errors && password.touched && password.dirty"
                   class="text-start text-danger">
                  Salasana on virheellinen.
                </p>
              </div>
              <!-- Buttons -->
              <button class="w-100 btn btn-primary rounded-0 mt-4 mb-3"
                      (click)="login()" [disabled]="loginForm.invalid">
                Kirjaudu sisään
              </button>
              <a class="link-dark text-muted mt-3" href="#">
                Salasana unohtunut?
              </a>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Register Form -->
    <div class="d-flex justify-content-center mt-4">
      <div class="card border-0 rounded-0 mb-3 mt-4" style="width: 500px;">
        <div class="text-center mt-4">
          <div class="card-body">
            <!-- Header -->
            <h1 class="card-title text-primary h3 fw-normal">Rekisteröidy</h1>
            <hr class="mb-5 mt-4" />
            <form [formGroup]="registerForm" (ngSubmit)="register()"
                  autocomplete="off">
              <!-- Email -->
              <div class="mt-4">
                <app-input [control]="registerForm.controls.email"
                           type="email" placeholder="Sähköpostiosoite*"></app-input>
              </div>
              <!-- Password -->
              <div class="mt-4">
                <app-input [control]="registerForm.controls.password"
                           type="password" placeholder="Salasana*">
                </app-input>
              </div>
              <!-- Confirm Password -->
              <div class="mt-4">
                <app-input [control]="registerForm.controls.confirm_password"
                           type="password" placeholder="Vahvista salasana*">
                </app-input>
              </div>

              <!-- Buttons -->
              <div class="form-check text-muted mt-4">
                <label class="form-check-label" for="flexCheckDefault">
                  <input class="form-check-input rounded-0" type="checkbox"
                         value="" id="flexCheckDefault">
                  Tilaa uutiskirjeemme
                </label>
              </div>

              <button class="w-100 rounded-0 btn btn-primary mt-4 mb-5" type="submit"
                      [disabled]="registerForm.invalid">
                Rekisteröidy
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
