
 <!--Navbar--> 
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    
    <!--Mobile-menu button-->
    <button class="navbar-toggler rounded-0" type="button" data-bs-toggle="collapse"
            data-bs-target="#mobileNavbarMenu" aria-expanded="false"
            aria-label="Toggle navigation" aria-controls="mobileNavbarMenu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mobileNavbarMenu">
      <div class="navbar-nav">
        <a class="nav-link text-uppercase text-center"
           *ngFor="let category of productCategories"
           routerLink="products/{{category.link}}" [state]=category>
          {{category.categoryName}}
        </a>
      </div>
    </div>
  </div>
</nav>

