<!-- Add Products -->
<div class="container mt-5 mb-5" style="min-height: 50vh;">

  <!-- Button add product -->
  <button class="btn btn-sm btn-primary rounded-0" (click)="openModal(template)">
    <i class="fa fa-plus" aria-hidden="true" style="margin-right: 8px;"></i>
    Lisää tuote
  </button>

  <!--Add product modal-->
  <ng-template #template>
    <!--Modal header-->
    <div class="modal-header">
      <h4 class="modal-title pull-left">Lisää tuote</h4>
      <button type="button" class="btn-close close pull-right" aria-label="Close"
              (click)="modalRef?.hide()">
      </button>
    </div>
    <!--Modal body-->
    <div class="modal-body">
      <form #addForm="ngForm" (ngSubmit)="addProduct()" id="addProduct">
        <!-- Select Category -->
        <select multiple class="form-select mt-3" name="productCategories"
                [(ngModel)]="newProduct.productCategories">
          <option *ngFor="let category of productCategories" value="{{ category.id }}">
            {{ category.categoryName }}
          </option>
        </select>
        <!-- Nimi -->
        <textarea class="form-control  mt-3" rows="1"
                  placeholder="Nimi" [(ngModel)]="newProduct.name"
                  name="name"></textarea>

        <!-- Pikakuvaus -->
        <textarea class="form-control  mt-3" rows="1"
                  placeholder="Pikakuvaus" [(ngModel)]="newProduct.shortDescription"
                  name="shortDescription"></textarea>

        <!-- Normaalikuvaus -->
        <textarea class="form-control  mt-3" rows="1"
                  placeholder="Normaalikuvaus" [(ngModel)]="newProduct.longDescription"
                  name="longDescription"></textarea>

        <!-- Määrä -->
        <div class="input-group mb-3">
          <span class="input-group-text mt-3 rounded-0" id="quantity">Määrä</span>
          <input class="form-control mt-3" name="quantity" type="number"
                 placeholder="Määrä" [(ngModel)]="newProduct.quantity" aria-describedby="quantity" />
        </div>

        <!-- Kokonaishinta -->
        <div class="input-group mb-3">
          <span class="input-group-text mt-3 rounded-0" id="price">Kokonaishinta</span>
          <input class="form-control mt-3" name="priceWithTax" type="number"
                 placeholder="Kokonaishinta" [(ngModel)]="newProduct.priceWithTax" (change)="calculateTax()"
                 aria-describedby="price" />
        </div>

        <!-- Hinta ilman ALV -->
        <div class="input-group mb-3">
          <span class="input-group-text mt-3 rounded-0" id="withoutTax">
            Hinta ilman ALV:
          </span>
          <span class="form-control mt-3">{{ newProduct.priceWithoutTax | number:'1.2-2'}}</span>
        </div>

        <!-- ALV -->
        <div class="input-group mb-3">
          <span class="input-group-text mt-3 rounded-0" id="tax">ALV</span>
          <span class="form-control mt-3">{{ newProduct.tax | number:'1.2-2'}}</span>
        </div>
      </form>
    </div>
    <!--Button-->
    <div class="modal-footer">
      <button type="button" class="btn btn-primary rounded-0" (click)="addProduct()"
              form="addProduct">
        Lisää
      </button>
    </div>
  </ng-template>

  <!-- Products Details -->
  <div class="row row-cols-1 row-cols-md-4 g-4  mt-3">

    <!--Products-->
    <div class="col" *ngFor="let product of products">
      <h5 class="text-primary text-center h5 text-semibold"
          style="margin-top: 15px;">
        {{ product.name }}
      </h5>
      <h5 class="text-primary text-center" style="margin-top: 15px;">
        {{ product.priceWithTax | currency:'EUR':'symbol':'1.2-2':'fi' }}
      </h5>
      <div class="card mt-3 border-0">
        <img src="{{ product.mainPhoto?.url || '/assets/placeholder.webp'}}"
             class="d-block">
      </div>

      <!-- Buttons -->
      <button class="btn btn-sm btn-primary mt-3 w-100 rounded-0"
              routerLink="/edit-product/{{ product.id }}" [disabled]="product.removed">
        <i class="fa fa-pencil" aria-hidden="true"></i>
        Muokkaa tuotetta
      </button>

      <div class="mt-3">
        <button class="btn btn-sm btn-outline-primary w-100 rounded-0"
                (click)="openModal2(template2, product)" *ngIf="!product.removed">
          <i class="fa fa-trash-o" aria-hidden="true"></i>
          Poista tuote
        </button>

        <button class="btn btn-sm btn-outline-primary w-100 rounded-0"
                (click)="returnProduct(product)" *ngIf="product.removed">
          <i class="fa fa-undo" aria-hidden="true"></i>
          Palauta tuote
        </button>

        <!-- Remove product modal -->
        <ng-template #template2>
          <!-- Modal header -->
          <div class="modal-header">
            <h4 class="modal-title pull-left">
              Vahvista poistaminen
            </h4>
            <button type="button" class="btn-close close pull-right" aria-label="Close"
                    (click)="modalRef?.hide()">
              <span aria-hidden="true" class="visually-hidden">&times;</span>
            </button>
          </div>
          <!-- Modal body -->
          <div class="modal-body">
            Poista {{ product.name }}?
          </div>
          <!-- Button -->
          <div class="modal-footer">
            <button type="button" class="btn btn-primary rounded-0"
                    (click)="removeProduct()">
              Poista
            </button>
          </div>
        </ng-template>

      </div>
    </div>
  </div>

</div>


