<div  class="container mt-5 mb-5"  style="min-height: 50vh;">
  <div class="d-flex align-items-center justify-content-center">
    <div class="text-center">
      <h1 class="display-1 text-primary fw-bold">404</h1>
      <p class="fs-3"> <span class="text-danger">Opps!</span> Sivua ei löytynyt.</p>
      <p class="lead">
        Näyttää siltä, ​​että etsimäsi sivu on poissa tai sitä ei ole olemassa.
      </p>
      <a routerLink="/" class="btn btn-primary rounded-0">Takaisin etusivulle</a>
    </div>
  </div>
</div>
