

<div class="container mt-3 mb-5" style="min-height: 50vh;" >
  <div class="row row-cols-1 row-cols-md-3 g-4 mt-2"
       *ngIf="categoryProducts.length > 0">
    <!--Rannekorut-->
    <div class="col" *ngFor="let product of categoryProducts">
      <div class="card mt-4 border-0" >

        <div class="d-flex justify-content-center" style="margin-top: 25px;">
          <h5 class="text-primary text-center h5 text-semibold"
              routerLink="/product/{{ product.id }}">
            {{ product.name }}
          </h5>
        </div>
        <div class="d-flex justify-content-center" style="margin-top: 10px; margin-bottom:15px;">
          <h5 class="text-primary fw-bolder">
            {{ product.priceWithTax | currency:'EUR':'symbol':'1.2-2':'fi' }}
          </h5>
        </div>


        <img src="{{ product.mainPhoto.url }}" style="border-color: #f6f6f6"
             class="d-block  rounded-0" routerLink="/product/{{ product.id }}">

        <button class="btn btn-primary rounded-0 border-0 w-100 mb-5" routerLink="/product/{{ product.id }}">
          tutustu lisää
        </button>

      </div>
      </div>
  </div>
</div>

