
<p>PRODUCTS FOR CATEGORY {{categoryProducts | json}}</p>

<div class="container mt-5 mb-5" style="min-height: 50vh;" >
  <div class="row row-cols-1 row-cols-md-3 g-4  mt-5"
       *ngIf="categoryProducts.length > 0">
    <!--Rannekorut-->
    <div class="col" *ngFor="let product of categoryProducts">
      <div class="card mt-3 border-0">
        <img src="{{ product.mainPhoto.url }}"
             class="d-block" routerLink="/product/{{ product.id }}">
      </div>
      <div class="d-flex justify-content-between" style="margin-top: 15px;">
        <h5 class="text-primary h5 text-semibold" routerLink="/product/{{ product.id }}">
        {{ product.name }}
        </h5>
        <h5 class="text-primary">26,90€</h5>
      </div>
      <div>
        <button class="btn btn-outline-primary w-100 rounded-0 mt-3">
          <i class="fa fa-shopping-basket" style="margin-right: 8px;"
             aria-hidden="true"></i>
          Lisää koriin
        </button>
      </div>
    </div>
  </div>
</div>

