<!-- Input form -->
<input [formControl]="control" [type]="type"
       class="form-control border border-1 bg-light"
       [placeholder]="placeholder"/>

<ng-container *ngIf="control.touched && control.dirty">
  <p *ngIf="control.errors?.['pattern']"
     class="text-start text-danger">
    Salasana täytyy olla vähintään 7 merkkiä pitkä ja sisältää vähintään 1 numero.
  </p>
  <p *ngIf="control.errors?.['required']"
     class="text-start text-danger">
    Tieto on pakollinen.
  </p>
  <p *ngIf="control.errors?.['minlength']"
     class="text-start text-danger">
    The value must be at least
    {{ control.errors?.['minlength'].requiredLength }}
    characters long.
  </p>
  <p *ngIf="control.errors?.['email']"
     class="text-start text-danger">
    Anna kelvollinen sähköpostiosoite.
  </p>
  <p *ngIf="control.errors?.['noMatch']"
     class="text-start text-danger">
    Salasanat eivät täsmää.
  </p>
</ng-container>
