<!-- Input form -->
<input [formControl]="control" [type]="type"
       class="appearance-none block w-full text-gray-600 border border-gray-300
       rounded py-3 px-4 mb-3 leading-tight focus:outline-none
       focus:bg-white focus:border-gray-500"
       [placeholder]="placeholder" />

<ng-container *ngIf="control.touched && control.dirty">
  <p *ngIf="control.errors?.['pattern']"
     class="text-red-400">
    Salasana täytyy olla vähintään 7 merkkiä pitkä ja sisältää vähintään 1 numero.
  </p>
  <p *ngIf="control.errors?.['required']"
     class="text-red-400">
    Tieto on pakollinen.
  </p>
  <p *ngIf="control.errors?.['minlength']"
     class="text-red-400">
    The value must be at least
    {{ control.errors?.['minlength'].requiredLength }}
    characters long.
  </p>
  <p *ngIf="control.errors?.['email']"
     class="text-red-400">
    Anna kelvollinen sähköpostiosoite.
  </p>
  <p *ngIf="control.errors?.['noMatch']"
     class="text-red-400">
    Salasanat eivät täsmää.
  </p>
</ng-container>
