<!-- Shopping Cart -->
<div class="container mt-5 mb-5" style="min-height: 50vh;">

  <div *ngIf="products.length === 0">
    <div class="d-flex justify-content-center text-primary">
      <i class="fa fa-shopping-bag fa-5x" aria-hidden="true"></i>
    </div>
    <h5 class="text-primary text-center mt-5">
      Ostoskorissasi ei ole vielä tuotteita.
    </h5>
  </div>

  <!-- Alert msg -->
  <div class="alert alert-dismissible alert-danger text-center rounded-0" *ngIf="alert">
    <i class="fa fa-exclamation-triangle" style="margin-right: 8px;" aria-hidden="true"></i>
    <strong>{{alertMsg}}</strong>
  </div>

  <div class="row row-cols-1 row-cols-md-2 g-4 mt-2" *ngIf="products.length > 0">

    <!-- Shopping Cart -->
    <div class="col-sm-12 col-md-12 col-lg-7">
      <div class="card h-100 border-0">

        <div class="card-header bg-transparent mt-2 border-0
             text-primary h4">
          Ostoskori
        </div>
        <hr />

        <div class="card-body mt-2">
          <div class="row" *ngFor="let product of products">

            <div class="col-2">
              <div class="d-flex justify-content-start">
                <img src="{{ product.mainPhoto.url }}"
                     alt="Feather&Beads" routerLink="/product/{{ product.id }}"
                     width="70" height="70" />
              </div>
            </div>

            <div class="col">
              <h5 class="text-primary h ms-2"
                  routerLink="/product/{{ product.id }}">
                {{ product.name }}
              </h5>
              <div class="input-group mt-4">
                <button class="btn btn-sm border border-1 btn-m rounded-0"
                        type="button" (click)="updateProductQuantity(product, -1)">
                  <i class="fa fa-minus" style="color: #989898;" aria-hidden="true"></i>
                </button>
                <input type="text" class="border-0"
                       [(ngModel)]="product.cartQuantity" aria-label="Example text with button addon"
                       aria-describedby="button-addon1">
                <button class="btn btn-sm border border-1 btn-m rounded-0"
                        (click)="updateProductQuantity(product, +1)"
                        type="button">
                  <i class="fa fa-plus" style="color: #989898;" aria-hidden="true"></i>
                </button>
              </div>
            </div>


            <div class="col-3 text-end">
              <span class="text-primary text-bold">
                {{(product.priceWithTax * product.cartQuantity)| currency:'EUR':'symbol':'1.2-2':'fi'}}
              </span>
              <br />
              <button class="btn btn-secondary px-0 rounded-0 btn-sm"
                      (click)="removeProduct(product)">
                <i class="fa fa-trash-o fa-lg" aria-hidden="true"></i>
                Poista
              </button>
            </div>
            <hr class="mt-3" />

          </div>
        </div>
      </div>
    </div>

    <!-- Summary -->
    <div class="col-sm-12 col-md-12 col-lg-5">
      <div class="card border-0 rounded-0" style="background: #fafafa;">
        <div class="card-header mt-2 bg-transparent border-0
             text-primary h4">
          Yhteenveto
        </div>
        <hr />

        <div class="card-body">
          <div class="row" *ngFor="let product of products">
            <div class="col-7 text-start">
              <p class="text-primary">
                {{product.cartQuantity}} x {{ product.name }}
              </p>
            </div>
            <div class="col-5 text-end">
              <p class="text-primary">
                {{(product.priceWithTax * product.cartQuantity) | currency:'EUR':'symbol':'1.2-2':'fi'}}
              </p>
            </div>
          </div>
        </div>

        <div class="card-footer border-top-secondary rounded-0
             text-primary" style="background: #f2f2f2;">

          <div class="row">
            <div class="col-6 text-start">
              <p class="text-primary">
                Toimituskulut
              </p>
            </div>
            <div class="col-6 text-end">
              <p class="text-primary">
                {{0 | currency:'EUR':'symbol':'1.2-2':'fi'}}
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-6 text-start">
              <h5 class="text-primary">
                Yhteensä
              </h5>
              <p class="text-primary fs-6 text-muted">
                ALV {{ getPriceTax() | currency:'EUR':'symbol':'1.2-2':'fi' }}
              </p>
            </div>
            <div class="col-6 text-end">
              <h5 class="text-primary" style="font-weight:bold;">
                {{getCartPrice() | currency:'EUR':'symbol':'1.2-2':'fi'}}
              </h5>
            </div>
          </div>
        </div>
      </div>

      <button class="btn btn-primary rounded-0 mt-3 w-100 btn-lg" routerLink="/checkout">
        Jatka ostamista
        <!--<i class="fa fa-chevron-circle-right" style="margin-left: 8px;"
           aria-hidden="true"></i>-->
      </button>
    </div>
  </div>

</div>

